@import './utils/_variables';
@import './utils/_breakpoints';
@import './base/_normalize';
@import './base/_global-styles';
@import './components/_header';
@import './components/_logo';
@import './components/_hero';
@import './components/_hero-modal';
@import './components/_advantages';
@import './components/_service';
@import './components/_team';
@import './components/_clients';
@import './components/_filter';
@import './components/_card';
@import './components/_footer';
@import './components/_mob-menu';
