.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:first-child) {
  margin-left: 8px;
}

.filter__btn {
  padding: 6px 22px;
  color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--secondary-bgc);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  filter: 0;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic),
    filter 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--white-text-color);
    background-color: var(--btn-bgc);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &--current {
    color: var(--white-text-color);
    background-color: var(--btn-bgc);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
