.service {
  padding-bottom: 94px;
}

.solution {
  display: flex;
}

.solution__item {
  position: relative;

  &:not(:first-child) {
    margin-left: 30px;
  }
}

.solution__img {
  display: block;
}

.solution__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 70px;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
