h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-bgc);
  font-family: roboto, sans-serif;
}

svg {
  fill: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.modal-open {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.title {
  color: var(--secondary-text-color);
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 1.17;
  }
}
