:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-text-color: #ffffff;
  --hover-text-color: #2196f3;
  --logo-text-color: #2196f3;
  --logo-header: #000000;
  --logo-footer: #ffffff;
  --hero-text-color: #ffffff;
  --footer-contacts-text: rgba(255, 255, 255, 0.6);
  --white-bgc: #ffffff;
  --primary-bgc: #2f303a;
  --secondary-bgc: #f5f4fa;
  --btn-bgc: #2196f3;
  --btn-hover: #188ce8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
